.visual-bar-container{
    width : 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(133, 133, 231, 0.876);
    border-radius: 20px;
}

.visual-bar-inside{
    border-radius: 20px 0px 0px 20px;
    height: 100%;
}

.remove-card{
    position:absolute;
    right: 5%;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-image: url("/assets/close-icon-initial.svg");
    background-size:contain;
    transition-property: transform;
}

.remove-card:hover {
    transform: scale(1.2, 1.2);

}

.add-city-button-col{
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-direction: column;
}

#add-city-button{
    background-color: #208d20;
    border-color: #066406;
}

#add-city-button:hover{
    background-color:#208d20d3 ;
}