/* Header Font: 
font-family: 'Antonio', sans-serif; 
Paragraph Font:
font-family: 'ABeeZee', sans-serif;*/
body{
    font-family: 'Roboto Condensed', sans-serif;
    color: #4357AD;
    line-height: 1;
}

p{
    color:hsl(196,40%,11%);
}
h1{
    font-size: 3.5rem ;
    font-family: 'Bebas Neue', sans-serif;
}
h2{
    font-size: 1.7rem;
}
h3{
    font-family: 'Bebas Neue', sans-serif;
}

.choose-container-outer{
    background-color: #EBF3FF;
    box-shadow: 0px 4px 4px rgba(0, 24, 60, 0.2);
    border-radius: 10px;
}

.choose-container-upper{
    background-color: #C1DCFF;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 10px 3px 10px;
    /* height: 50%; */
}

.form-label{
    font-family: 'Bebas Neue', sans-serif;
    font-size:1.5rem;
}

.form-select{
    background-color: #EBF3FF;
    border:none;
}

.add-city-button-col{
    display: flex;
    justify-content:flex-end;
    align-items: flex-start;
    flex-direction: column;
}

#add-city-button{
    font-family: 'Bebas Neue', sans-serif;
    font-size:1.5rem;
    background: #4357AD;
    box-shadow: 0px 4px 6px rgba(0, 24, 60, 0.3);
    border-radius: 10px;
    border: none;
}

#add-city-button:hover{
    color: #4357AD;
    background-color: #EBF3FF;
    border: 2px solid #4357AD;
}

.card-row-style{
    min-height: 200px;
}

.card-image-container{
    position:relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipPIE77NTqPU4cqLkZMSJ-L1mJ-R4fta1CMDDgqj=s1600-w400");
    background-repeat: no-repeat;
    background-size: cover ;

}
.card-image-container::before{
    content: ' ';
    z-index: 3;
    position: absolute;
    top: 0px;
    left: -5px;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(223,226,228, 1) 0%,rgba(223,226,228,1) 2%, rgba(223,226,228, 0) 40%); 
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

/* .card-header-custom{
    position: absolute;
    bottom: 0px;
    width: 100%;

    background-clip:content-box;
    background-color: rgba(255, 255, 255, 0.876);
    
} */

.visual-bar-container{
    width : 100%;
    height: 15px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(133, 133, 231, 0.876);
    border-radius: 20px;
}

.visual-bar-inside{
    border-radius: 20px 0px 0px 20px;
    height: 100%;
}

.card-container{
    min-width: 50%;
}

.card{
    box-shadow: 2px 2px 6px 15px rgba(0, 0, 0, 0.109); 
    background-color: rgba(0, 2, 22, 0.644);
    border-radius: 10px;
    border: none;
    background-blend-mode:darken;

}
.remove-card{
    position:absolute;
    top: 4%;
    right: 1%;
    border-radius: 50%;
    border: none;
    width: 20px;
    height: 20px;
    background-image: url("/assets/close-icon-initial.svg");
    background-color: transparent;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
    transition-property: transform;
}

.remove-card:hover {
    transform: scale(1.2, 1.2);
    background-color: transparent;

}

.remove-card:active{
    background-color: transparent;
}

